<h2>Azaleataakies</h2>
<ul class="taken">
  <li *ngFor="let taak of taken"
      [class.selected]="taak === selectedTaak"
      (click)="onSelect(taak)">
    <span class="badge">{{taak.name}}</span>
    <p> Deadline: {{taak.deadline}}</p>
    <p> {{taak.daysLeft}} dagen, {{taak.hoursLeft}} uur en {{taak.minutesLeft}} minuten tot degene met het minst
      punten de bitch is.</p>
    <p> Effort: {{taak.effort}}</p>
  </li>
</ul>

<div *ngIf="selectedTaak">

  <h2>{{selectedTaak.name}} houdt in: </h2>
  <div>
    {{selectedTaak.description}}
  </div>

</div>

