p {
  font-family: Lato;

}

:root {
  /* :root is a clever way of saying "the outer-most element" */

  --done-undone: #838e6d; /* the default */
}

.button {
  background-color: #dac680;
}

.description{
  margin: 0 0 2em 0;
  background-color: darkcyan;
  margin-right: .8em;
  border: #8e001c;
  padding: 0;
  width: 40em;
  height: 10em;
  border-radius: 20px 0 10px 4px;
}

.description .badge{
  display: inline-block;
  font-size: small;
  padding: 0.7em 0.7em 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: center;
  bottom: auto;
  height: 2.8em;
  margin-right: .8em;
  border-radius: 20px 0 10px 4px;
  font-size: large;
}

.taken {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.taken li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: var(--done-undone);
  margin: .5em;
  padding: .3em 0;
  height: 14em;
  width: 40em;
  border-radius: 20px 0 10px 4px;
}
.taken li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.taken li.selected {
  background-color: #CFD8DC;
  color: white;
}
.taken li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.taken .badge {
  display: inline-block;
  font-size: small;
  padding: 0.7em 0.7em 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: center;
  bottom: auto;
  height: 2.8em;
  margin-right: .8em;
  border-radius: 20px 0 10px 4px;
  font-size: large;
}
