<h2>Azaleataakies</h2>
<button class="button" (click)="setDeadlines()" type="button">Set Deadlines</button>
<ul class="taken">
  <li *ngFor="let taak of taken"
      [class.selected]="taak === selectedTaak"
      (click)="onSelect(taak)"
      [ngStyle]="{'backgroundColor': getColorOfTask(taak)}">
    <span class="badge">{{taak.name}}</span>
    <p></p>
    <button class="button" (click)="setDeadline(taak)" type="button">Set Deadline </button>
    <button class="button" (click)="switchDoneUndone(taak)" type="button"> Done/Undone</button>
    <p> Deadline: {{taak.deadline}}</p>
    <p> {{taak.daysLeft}} dagen, {{taak.hoursLeft}} uur en {{taak.minutesLeft}} minuten tot degene met het minst
      punten de bitch is.</p>
    <p> Effort: {{taak.effort}}</p>
  </li>
</ul>

<div *ngIf="selectedTaak">

  <div class="description">
    <span class="badge">{{selectedTaak.name}}:</span>
    <p></p>
    {{selectedTaak.description}}
  </div>

</div>

